body {
  font-size: 1.3em;
}

.header {
  display: flex;
  gap: 1ch;
  justify-content: space-between;
  margin-bottom: 1ch;
}

input, button {
  font-size: 1.3em
}

/*
.header input, .header button, #tags input, #tags button {
  font-size: 1.3em
}
*/

.header button, #tags button {
  padding-left: 2ch;
  padding-right: 2ch;
}

.admin {
  background: oklch(0.8 0.3 300 / 0.3);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
  font-family: sans-serif;
  padding: 1ch;
  font-size: 1.2em;
}

.tags > *, .tag {
  background: oklch(0.8 0 0);
  padding: 0.8ch;
  border-radius: 1ch;
  text-decoration: none;
  color: oklch(0.2 0 0);
}

#compare {
  padding: 1ch;
}

.yt-player {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16/9;
}

.h {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.center-items {
  align-items: center;
}

.video-link {
  display: block;
  width: 480px;
  text-decoration: none;
  margin: 1ch 0ch;
}

.remove {
  background: oklch(0.5 0.3 20);
  color: oklch(1 0 0);
  width: max-content;
  padding: 1.2ch;
  border-radius: 1.2ch;
  cursor: pointer;
  margin: 0.5ch;
}

.prioritized {
  background: oklch(0.9 0.2 230 / 0.2);
}

.block {
  display: block
}
